%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      - if user_signed_in?
        = link_to t('common.exit'), destroy_user_session_path, method: :delete
        %span
          Account: #{current_user.email}
      - else
        = link_to t('common.sign_in'), new_user_session_path